<section>
  <div class="container benefits-container">
    <h2 class="section-title visually-hidden">Benefits</h2>
    <ol class="benefits">
      <li class="benefits-item">
        <p class="benefits-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="benefits-item">
        <p class="benefits-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="benefits-item">
        <p class="benefits-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="benefits-item">
        <p class="benefits-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <source
        srcset="
          /img/mobile/advantages-mob.jpg    1x,
          /img/mobile/advantages-mob@2x.jpg 2x
        "
        media="(max-width: 374px)"
      />
      <source
        srcset="
          /img/mobile/advantages-mob.jpg    1x,
          /img/mobile/advantages-mob@2x.jpg 2x
        "
        media="(min-width: 375px) and (max-width: 767px)"
      />
      <source
        srcset="
          /img/tablet/advantages-tab.jpg    1x,
          /img/tablet/advantages-tab@2x.jpg 2x
        "
        media="(min-width: 768px) and (max-width: 1279px)"
      />
      <source
        srcset="
          /img/desktop-middle/advantages-desk-1280.jpg    1x,
          /img/desktop-middle/advantages-desk-1280@2x.jpg 2x
        "
        media="(min-width: 1280px) and (max-width: 1439px)"
      />
      <source
        srcset="
          /img/desktop-full/advantages-desk-1440.jpg    1x,
          /img/desktop-full/advantages-desk-1440@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="/img/mobile/advantages-mob.jpg"
        srcset="
          /img/mobile/advantages-mob.jpg    1x,
          /img/mobile/advantages-mob@2x.jpg 2x
        "
        alt="image inside the yacht"
        width="335"
        height="424"
        class="advantages-image"
      />
    </picture>
  </div>
</section>
