<!-- Advantages -->
<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="advantages-content">
      <ol class="advantages-list">
        <li class="advantages-item">
          <p class="advantages-paragraph">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-paragraph">
            Fishing: try to catch your own dinner
          </p>
        </li>

        <li class="advantages-item">
          <p class="advantages-paragraph">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-item">
          <p class="advantages-paragraph">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>

      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desktop-full/advantage-desk2.jpg    1x,
            /img/desktop-full/advantage-desk2-2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/desktop-middle/advantage-desk1.jpg     1x,
            /img/desktop-middle//advantage-desk1-2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          srcset="
            /img/tablet/advantage-tab.jpg   1x,
            /img/tablet/advantage-tab2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/mobile/advantage-mob.jpg   1x,
            /img/mobile/advantage-mob2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpg"
        />

        <img
          class="image-advantages"
          src="/img/mobile/advantage-mob.jpg"
          alt="beautiful-yacht"
        />
      </picture>
    </div>
  </div>
</section>
