<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-logo-container">
        <a href="" class="footer-logo">yachtjet</a>
      </div>

      <div class="footer-navigation">
        <ul class="navigation-list">
          <li class="navigation-link">
            <a href="#about" class="footer-navigation-link">About</a>
          </li>
          <li class="navigation-link">
            <a href="#our-yachts" class="footer-navigation-link">Yachts</a>
          </li>
          <li class="navigation-link">
            <a href="#reviews" class="footer-navigation-link">Reviews</a>
          </li>
        </ul>
      </div>

      <div class="footer-media">
        <ul class="footer-social-list">
          <li class="social-icon-list">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="media-link"
            >
              <svg class="footer-social-icon" width="19" height="19">
                <use href="/img/general/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-icon-list">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="media-link"
            >
              <svg class="footer-social-icon" width="20" height="20">
                <use href="/img/general/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social-icon-list">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="media-link"
            >
              <svg class="footer-social-icon" width="20" height="20">
                <use href="/img/general/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="footer-tagline">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>

    <div class="privacy-police">
      <ul class="footer-privacy-list">
        <li class="footer-privacy-link">
          <a href="" class="privacy-link">2023. Yacht Adventures</a>
        </li>
        <li class="footer-privacy-link">
          <a href="" class="privacy-link">Privacy Police</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
