<header class="header">
    <div class="container">
        <div class="header-container">
            <nav>
                <a class="logo-header" href="/index.html">yachtjet</a>
                <ul class="header-nav-list">
                    <li class="header-nav-item"><a href="/index.html#about-us" class="header-nav-link">About</a></li>
                    <li class="header-nav-item"><a href="/index.html#our-yachts" class="header-nav-link">Yachts</a></li>
                    <li class="header-nav-item"><a href="/index.html#reviews" class="header-nav-link">Reviews</a></li>
                </ul>
                <ul class="header-soc-list">
                    <li class="header-soc-item">
                        <svg class="header-soc-icon" width="20" height="20">
                            <use href="/img/general/icons.svg#icon-instagram"></use>
                        </svg>
                    </li>
                    <li class="header-soc-item">
                        <svg class="header-soc-icon" width="20" height="20">
                            <use href="/img/general/icons.svg#icon-youtube"></use>
                        </svg>
                    </li>
                    <li class="header-soc-item">
                        <svg class="header-soc-icon" width="20" height="20">
                            <use href="/img/general/icons.svg#icon-facebook"></use>
                        </svg>
                    </li>
                </ul>
            </nav>
            <button type="button" class="burger-btn">
                <svg class="burger-icon" width="21" height="7">
                    <use href="/img/general/icons.svg#icon-burger"></use>
                </svg>
            </button>
        </div>

    </div>
</header>