<section class="hero">
  <div class="container">
    <h1 class="section-title hero-title">
      <span class="one-line"> Explore the High</span
      ><span class="two-line"> Seas with Our Luxury</span> Yacht Rentals
    </h1>

    <p class="text hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a href="#rent" class="btn-links hero-rewiew">Yacht rental</a>
  </div>
</section>
