<section class="menu">
  <div class="mob-menu js-menu-container" id="mobile-menu">
    <div class="mob-menu-conteiner">
      <div class="mob-menu-header">
        <p class="mob-menu-logo">yachtjet</p>
        <button class="mob-menu-btm js-close-menu" type="button">
          <svg width="16" height="16" class="mob-menu-btm-svg">
            <use href="/img/general/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-nav-menu">
          <li class="mob-menu-nav-menu-item">
            <a href="#anchor1" class="mob-menu-nav-menu-item-linc">About</a>
          </li>
          <li class="mob-menu-nav-menu-item">
            <a href="#anchor2" class="mob-menu-nav-menu-item-linc">Yachts</a>
          </li>
          <li class="mob-menu-nav-menu-item">
            <a href="#anchor3" class="mob-menu-nav-menu-item-linc">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="mob-menu-social-media-list">
        <li class="mob-menu-social-media-list-item">
          <a
            class="mob-menu-social-media-list-item-linc"
            href="https://www.instagram.com/goitclub/"
          >
            <svg width="19" height="19" class="mob-menu-social-media-list-svg">
              <use href="/img/general/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-media-list-item">
          <a
            class="mob-menu-social-media-list-item-linc"
            href="https://www.youtube.com/c/GoIT"
          >
            <svg width="20" height="20" class="mob-menu-social-media-list-svg">
              <use href="/img/general/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-media-list-item">
          <a
            class="mob-menu-social-media-list-item-linc"
            href="https://www.facebook.com/goITclub/"
          >
            <svg width="19" height="19" class="mob-menu-social-media-list-svg">
              <use href="/img/general/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
