<section class="our-yachts" id="our-yachts">
    <div class="container">
        <h2 class="section-title">Choose your dream yacht and sail away into the sunset</h2>

            <ul class="our-yachts-list">
                <li class="our-yachts-item">
                    <picture>
                        <source srcset="./img/desktop-full/arrow-desk-1440.png 1x, ./img/desktop-full/arrow-desk-1440@2x.png 2x" media="(min-width: 1440px)" type="image/png">
                        <source srcset="./img/desktop-middle/arrow-desk-1280.png 1x, ./img/desktop-middle/arrow-desk-1280@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <source srcset="./img/tablet/arrow-tab.png 1x, ./img/tablet/arrow-tab@2x.png 2x" media="(min-width: 768px)" type="image/png">
                        <source srcset="./img/mobile/arrow-mob.png 1x, ./img/mobile/arrow-mob@2x.png 2x" media="(max-width: 767px)" type="image/png">
                        <img src="./img/desktop-full/arrow-desk-1440.png" alt="arrow" class="our-yachts-image">
                    </picture>
                    <h3 class="our-yachts-title">arrow</h3>
                    <p class="our-yachts-paragraph">luxury yahts</p>

                    <ul class="features-list">
                        <li class="features-item">
                            <p class="our-yachts-paragraph">length</p>
                            <p class="our-yachts-stats">48m(155ft) </p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">builder</p>
                            <p class="our-yachts-stats">admiral</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">built</p>
                            <p class="our-yachts-stats">2021</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">guests</p>
                            <p class="our-yachts-stats">11 in 5 cabins</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">price</p>
                            <p class="our-yachts-stats">€33,500,000</p>
                        </li>
                    </ul>

                </li>

                <li class="our-yachts-item">
                    <picture>
                        <source srcset="./img/desktop-full/benetti-desk-1440.png 1x, ./img/desktop-full/benetti-desk-1440@2x.png 2x" media="(min-width: 1440px)" type="image/png">
                        <source srcset="./img/desktop-middle/benetti-desk-1280.png 1x, ./img/desktop-middle/benetti-desk-1280@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <source srcset="./img/tablet/benetti-tab.png 1x, ./img/tablet/benetti-tab@2x.png 2x" media="(min-width: 768px)" type="image/png">
                        <img src="./img/desktop-full/benetti-desk-1440.png" alt="benetti" class="our-yachts-image">
                    </picture>
                    <h3 class="our-yachts-title">benetti oasis 40m bo122</h3>
                    <p class="our-yachts-paragraph">luxury yahts</p>

                    <ul class="features-list">
                        <li class="features-item">
                            <p class="our-yachts-paragraph">length</p>
                            <p class="our-yachts-stats">41m (133ft)</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">shipyard</p>
                            <p class="our-yachts-stats">benetti</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">built</p>
                            <p class="our-yachts-stats">2025</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">guests</p>
                            <p class="our-yachts-stats">10 in 5 cabins</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">price</p>
                            <p class="our-yachts-stats">€23,210,000</p>
                        </li>
                    </ul>

                </li>

                <li class="our-yachts-item">
                    <picture>
                        <source srcset="./img/desktop-full/belle-anna-desk-1440.png 1x, ./img/desktop-full/belle-anna-desk-1440@2x.png 2x" media="(min-width: 1440px)" type="image/png">
                        <source srcset="./img/desktop-middle/belle-anna-desk-1280.png 1x, ./img/desktop-middle/belle-anna-desk-1280@2x.png 2x" media="(min-width: 1280px)" type="image/png">
                        <img src="./img/desktop-full/belle-anna-desk-1440.png" alt="belle-anna" class="our-yachts-image">
                    </picture>
                    <h3 class="our-yachts-title">belle anna</h3>
                    <p class="our-yachts-paragraph">luxury yahts</p>

                    <ul class="features-list">
                        <li class="features-item">
                            <p class="our-yachts-paragraph">length</p>
                            <p class="our-yachts-stats">50m(155ft) </p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">shipyard</p>
                            <p class="our-yachts-stats">isa</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">built</p>
                            <p class="our-yachts-stats">2012</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">guests</p>
                            <p class="our-yachts-stats">12 in 6 cabins</p>
                        </li>
                        <li class="features-item">
                            <p class="our-yachts-paragraph">price</p>
                            <p class="our-yachts-stats">€21,000,000</p>
                        </li>
                    </ul>
                </li>

            </ul>

            <button type="button" class="rent-btn" id="rent">Yacht rental</button>
    </div>
</section>
