<section class="section" id="our-yachts">
  <div class="container">
    <h2 class="section-title yacht-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/desktop-full/arrow-desk-1440.png    1x,
              ./img/desktop-full/arrow-desk-1440@2x.png 2x
            "
            media="(min-width: 1440px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/desktop-middle/arrow-desk-1280.png    1x,
              ./img/desktop-middle/arrow-desk-1280@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/tablet/arrow-tab.png    1x,
              ./img/tablet/arrow-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/mobile/arrow-mob.png    1x,
              ./img/mobile/arrow-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./img/desktop-full/arrow-desk-1440.png"
            alt="arrow"
            class="our-yachts-image"
          />
        </picture>
        <div class="title-container">
          <h3 class="our-yachts-title">arrow</h3>
          <p class="our-yachts-paragraph">luxury yahts</p>
        </div>

        <ul class="features-list">
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-paragraph property">length</p>
              <p class="our-yachts-paragraph property">builder</p>
              <p class="our-yachts-paragraph property">built</p>
              <p class="our-yachts-paragraph property">guests</p>
              <p class="our-yachts-paragraph property">price</p>
            </div>
          </li>
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-value">48m(155ft)</p>
              <p class="our-yachts-value">admiral</p>
              <p class="our-yachts-value">2021</p>
              <p class="our-yachts-value">11 in 5 cabins</p>
              <p class="our-yachts-value">€33,500,000</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/desktop-full/benetti-desk-1440.png    1x,
              ./img/desktop-full/benetti-desk-1440@2x.png 2x
            "
            media="(min-width: 1440px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/desktop-middle/benetti-desk-1280.png    1x,
              ./img/desktop-middle/benetti-desk-1280@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/tablet/benetti-tab.png    1x,
              ./img/tablet/benetti-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="./img/desktop-full/benetti-desk-1440.png"
            alt="benetti"
            class="our-yachts-image"
          />
        </picture>
        <div class="title-container">
          <h3 class="our-yachts-title">benetti oasis 40...</h3>
          <p class="our-yachts-paragraph">luxury yahts</p>
        </div>

        <ul class="features-list">
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-paragraph property">length</p>
              <p class="our-yachts-paragraph property">shipyard</p>
              <p class="our-yachts-paragraph property">built</p>
              <p class="our-yachts-paragraph property">guests</p>
              <p class="our-yachts-paragraph property">price</p>
            </div>
          </li>
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-value">41m (133ft)</p>
              <p class="our-yachts-value">benetti</p>
              <p class="our-yachts-value">2025</p>
              <p class="our-yachts-value">10 in 5 cabins</p>
              <p class="our-yachts-value">€23,210,000</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              ./img/desktop-full/belle-anna-desk-1440.png    1x,
              ./img/desktop-full/belle-anna-desk-1440@2x.png 2x
            "
            media="(min-width: 1440px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/desktop-middle/belle-anna-desk-1280.png    1x,
              ./img/desktop-middle/belle-anna-desk-1280@2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            src="./img/desktop-full/belle-anna-desk-1440.png"
            alt="belle-anna"
            class="our-yachts-image"
          />
        </picture>
        <div class="title-container">
          <h3 class="our-yachts-title">belle anna</h3>
          <p class="our-yachts-paragraph">luxury yahts</p>
        </div>

        <ul class="features-list">
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-paragraph property">length</p>
              <p class="our-yachts-paragraph property">shipyard</p>
              <p class="our-yachts-paragraph property">built</p>
              <p class="our-yachts-paragraph property">guests</p>
              <p class="our-yachts-paragraph property">price</p>
            </div>
          </li>
          <li class="features-item">
            <div class="info-container">
              <p class="our-yachts-value">50m(155ft)</p>
              <p class="our-yachts-value">isa</p>
              <p class="our-yachts-value">2012</p>
              <p class="our-yachts-value">12 in 6 cabins</p>
              <p class="our-yachts-value">€21,000,000</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <button type="button" class="main-btn rent-btn" id="rent">
      Yacht rental
    </button>
  </div>
</section>
