<section class="section rent-a-yacht" id="rent">
  <div class="container">
    <form class="rent-form">
      <h2 class="section-title">Rent a yacht now</h2>
      <label>
        <input
          type="text"
          class="rent-input"
          name="user-name"
          placeholder="Full Name"
          required
        />
      </label>
      <label>
        <input
          type="email"
          class="rent-input"
          name="user-email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
      </label>
      <label>
        <input
          type="tel"
          class="rent-input"
          name="user-tel"
          placeholder="Phone number"
          pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          required
        />
      </label>
      <textarea
        name="user-text"
        placeholder="Comment"
        class="rent-comment"
        required
      ></textarea>
      <button type="submit" class="rent-yacht-btn">Send</button>
    </form>
    <div class="img-container">
      <picture>
        <source
          srcset="/img/mobile/rent-mob.png 1x, /img/mobile/rent-mob@2x.png 2x"
          media="(max-width: 374px)"
        />
        <source
          srcset="/img/mobile/rent-mob.png 1x, /img/mobile/rent-mob@2x.png 2x"
          media="(min-width: 375px) and (max-width: 767px)"
        />
        <source
          srcset="/img/tablet/rent-tab.png 1x, /img/tablet/rent-tab@2x.png 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
        />
        <source
          srcset="
            /img/desktop-middle/rent-desk-1280.png    1x,
            /img/desktop-middle/rent-desk-1280@2x.png 2x
          "
          media="(min-width: 1280px) and (max-width: 1439px)"
        />
        <source
          srcset="
            /img/desktop-full/rent-desk-1440.png    1x,
            /img/desktop-full/rent-desk-1440@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="/img/mobile/rent-mob.png"
          srcset="/img/mobile/rent-mob.png 1x, /img/mobile/rent-mob@2x.png 2x"
          alt="yacht"
          class="rent-img"
        />
      </picture>
    </div>
  </div>
</section>
