<section class="rent-a-yacht" id="rent">
  <div class="container">
    <h2 class="section-title">Rent a yacht now</h2>
    <form class="rent-form">
      <label>
        <input
          type="text"
          class="rent-input"
          name="user-name"
          placeholder="Full Name"
          required
        />
      </label>
      <label>
        <input
          type="email"
          class="rent-input"
          name="user-email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
      </label>
      <label>
        <input
          type="tel"
          class="rent-input"
          name="user-tel"
          placeholder="Phone number"
          pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          required
        />
      </label>
      <textarea
        name="user-text"
        placeholder="Comment"
        class="rent-comment"
        required
      ></textarea>
      <button type="submit" class="rent-btn">Send</button>
    </form>
    <img
      srcset="/img/mobile/rent-mob.png 1x, /img/mobile/rent-mob@2x.png 2x"
      src="/img/mobile/rent-mob.png"
      alt="yacht"
      class="rent-img"
    />
  </div>
</section>
