.container-about-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 24px;
  border-color: #040306;
  box-sizing: border-box;
  max-width: 335px;
}

.about-us-section {
  margin-top: -60px;
}
@media screen and (min-width: 768px) {
  .about-us-section {
    margin-top: -68px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us-section {
    margin-top: -35px;
  }
}

.about-us-title {
  color: #1b414b;
  padding: 40px 20px 38px 20px;
  max-width: 295px;
  line-height: 100%;
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}
.about-us-div-text {
  padding: 20px;
}
.about-us-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  color: #1b414b;
  text-align: left;
}

.about-us-under-text {
  margin-top: 20px;
  color: #040306;
  opacity: 0.4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.about-us-image-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  max-height: 470px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .container-about-us {
    max-width: 704px;
    gap: 32px;
  }

  .about-us-title {
    max-width: 536px;
    font-size: 48px;
  }

  .about-us-text {
    font-size: 23px;
    max-width: 389px;
    font-size: 23px;
  }

  .about-us-under-text {
    width: 385px;
    font-size: 13px;
  }

  .about-us-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container-about-us {
    max-width: 1180px;
  }

  .about-us {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-us-title {
    width: 537px;
  }

  .about-us {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .about-us-div-text {
    margin-top: 25px;
    margin-left: auto;
    margin-right: 50px;
    width: 354px;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
  }

  .about-us-text {
    max-width: 354px;
    height: 115px;
    letter-spacing: -0.02em;
    line-height: 100%;
  }

  .about-us-under-text {
    position: relative;
    margin-right: 50px;
    width: 354px;
  }

  .about-us-image {
    border-radius: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-text {
    position: relative;
    counter-increment: activity-counter;
    width: 100%;
    width: 404px;
  }
}
