.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-container {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-container {
    flex-direction: row;
  }
}

.benefits {
  width: 100%;
  padding: 80px 20px;
  counter-reset: activity-counter;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #1b414b;
  border-radius: 24px;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 32px;
    max-width: 704px;
    padding: 90px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    max-width: 716px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits {
    max-width: 768px;
  }
}
.benefits-item {
  position: relative;
  counter-increment: activity-counter;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    max-width: calc((100% - 32px) / 2);
  }
}

.benefits-item::before {
  content: counter(activity-counter, decimal-leading-zero);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
  display: block;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .benefits-item::before {
    font-size: 32px;
  }
}
.benefits-item .benefits-text::before {
  content: '';
  display: block;
  border-radius: 18px;
  width: 100%;
  height: 2px;
  margin-bottom: 18px;
  background: rgba(251, 251, 251, 0.1);
}

.benefits-text {
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .benefits-text {
    font-size: 13px;
    line-height: 1.15;
  }
}

.advantages-image {
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .advantages-image {
    width: 100%;
  }
}
