.advantages {
  padding-bottom: 80px;
}

.advantages-list {
  background-color: #1b414b;
  display: flex;
  flex-wrap: wrap;

  border-radius: 24px;
  padding: 80px 20px;
  gap: 40px;
  margin-bottom: 20px;
  counter-reset: item;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  position: relative;
  width: 100%;
}

.advantages-paragraph {
  padding-top: 18px;
  margin-top: 18px;
  color: rgba(251, 251, 251, 0.8);
  border-top: 2px solid rgba(251, 251, 251, 0.1);
}

.advantages-item:nth-child(-n + 9):before {
  content: '0' counter(item);
  counter-increment: item;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.advantages-item:nth-child(n + 10):before {
  content: counter(item);
  counter-increment: item;
}

.image-advantages {
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 150px;
  }

  .advantages-list {
    gap: 44px 32px;
    padding: 90px 32px;
    margin-bottom: 32px;
  }

  .advantages-paragraph {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-table-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-list {
    gap: 44px;
    max-width: 716px;
    margin-bottom: 0;
    padding: 90px 50px;
  }

  .advantages-item:nth-child(-n + 9):before {
    font-size: 32px;
  }

  .advantages-content {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .advantages-item {
    width: calc((100% - 44px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .advantages-list {
    max-width: 768px;
    gap: 44px 32px;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
  }

  .image-advantages {
    width: 432px;
    height: 424px;
  }
}
