  body {
    font-family: 'Inter', sans-serif;
    color: #fbfbfb;
    background-color: #0e1823;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }

  .container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }

  @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
    }

    
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }

    .section-title {
        font-size: 48px;    
    }

    h1 {
        font-size: 70px;

    }
  }

  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 50px;
      padding-right: 50px;
    }

    h1 {
        font-size: 80px;
    
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }
