.footer {
  background-color: #1b414b;
  padding: 40px 0 20px 0;
  border-radius: 24px 24px 0 0;

  margin: 0 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo-container {
  width: 89px;
}

.footer-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-right: 37px;
}

.navigation-list {
  display: flex;
  gap: 4px;
}

.navigation-link {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  width: 66px;
  height: 40px;

  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;

  background: rgba(251, 251, 251, 0.3);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-navigation-link {
  width: 100%;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-media {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
}

.footer-social-list {
  display: flex;
  gap: 8px;
}

.social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.footer-social-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-tagline {
  max-width: 279px;
  margin: 0 auto;
  margin-top: 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.privacy-police {
  margin: 0 auto;
  margin-top: 82px;
}

.footer-privacy-list {
  display: flex;
  gap: 20px;
}

.footer-privacy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-privacy-link:hover,
.footer-privacy-link:focus {
  color: #fbfbfb;
}

@media screen and (max-width: 374px) {
  .footer-logo-container {
    width: 80px;
  }

  .navigation-link {
    width: 57px;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .footer {
    width: 355px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 16px;
  }

  .footer-container {
    padding: 0 48px;
  }

  .footer-logo {
    font-size: 20px;
    margin-right: 110px;
  }

  .footer-logo-container {
    width: 180px;
  }

  .navigation-list {
    margin-right: 91px;
  }

  .navigation-link {
    width: 91px;
  }

  .footer-media {
    margin: 0;
  }

  .footer-tagline {
    margin-top: 96px;
    max-width: 640px;
    font-size: 32px;
  }

  .footer-privacy-list {
    gap: 32px;
  }

  .footer-privacy-link {
    font-size: 14px;
    line-height: 1.18;
  }

  .privacy-police {
    margin-top: 99px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .footer {
    width: 736px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0 25px;
  }

  .footer-container {
    padding: 0 75px;
  }

  .footer-logo {
    margin-right: 330px;
  }

  .footer-logo-container {
    width: 400px;
  }

  .navigation-list {
    margin-right: 311px;
  }

  .footer-tagline {
    max-width: 693px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1439px) {
  .footer {
    width: 1230px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    width: 1440px;
  }

  .footer-logo {
    margin-right: 409px;
  }

  .footer-logo-container {
    width: 479px;
  }

  .navigation-list {
    margin-right: 388px;
  }

  .footer-tagline {
    max-width: 699px;
  }
}

@media screen and (min-width: 1441px) {
  .footer {
    width: 1390px;
    margin: 0 auto;
  }
}
