.section-title {
  line-height: 28px;
  letter-spacing: -0.56px;
  text-align: start;

  margin-bottom: 40px;
}
.rent-form {
  padding-bottom: 80px;
}
.rent-input {
  width: 100%;
  height: 42px;
  color: #fbfbfb;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  outline: none;

  margin-bottom: 18px;
  padding-left: 18px;
}
.rent-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-size: 14px;
  line-height: 18px;
}

.rent-comment {
  width: 100%;
  height: 108px;
  color: #fbfbfb;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  resize: none;
  outline: none;

  padding: 14px 18px;
  margin-bottom: 40px;
}
.rent-comment ::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-size: 14px;
  line-height: 18px;
}
.rent-input:hover,
.rent-input:focus,
.rent-comment:hover,
.rent-comment:focus {
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.5);
  transition: border-color 0.5s ease-in 0.3s;
}
.rent-btn {
  font: 500 18px / 1.1;
  letter-spacing: -0.02em;
  border-radius: 15px;
  color: #fbfbfb;
  background: #1b414b;

  letter-spacing: -0.28px;
  border: none;
  transition: background-color 0.5s ease-in 0.4s;
  transition: color 0.5s ease-in 0.4s;

  border: 1px solid rgba(251, 251, 251, 0.35);
  transition: background-color 0.5s ease-in 0.3s;
  transition: color 0.5s ease-in 0.3s;

}

.rent-btn:hover,
.rent-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}
.rent-img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .rent-form {
    padding-left: 148px;
    padding-right: 148px;
    padding-bottom: 150px;
  }
  .section-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.96px;

    margin-bottom: 50px;
  }

  .rent-input {
    height: 54px;
  }
  .rent-comment {
    height: 116px;
    margin-bottom: 50px;
  }
  .rent-btn {
    width: 194px;
    height: 56px;
  }
  .rent-img {
    height: 534px;
  }
}
@media screen and (min-width: 1280px) {
  .rent-a-yacht .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .rent-form {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .rent-input,
  .rent-comment {
    width: 472px;
  }

  .img-container {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .rent-img {
    width: 768px;
  }
}
